<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>智邮普创</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
        <div class="tips" style="width:320px;height:600px;margin:10% auto;">
        <img src="success.jpg" width="160px" height="160px" style="margin:14% 25%;"/>
        <p style="font-weight:bold;font-size:25px;text-align:center;margin-left:2%;">信息提交成功</p >
        <p style="font-size:20px;text-align:center;margin-left:8%;" class="tip-1">
        请等待我们短信通知面试时间。</p>
        </div>
  </div>
</body>
</html>
